{% extends 'bootstrap/base.html' %}
{% block navbar %}
<nav class="navbar navbar-default" style="background-color: #c74343;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">MobilMed</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}
{% block content %}
  <form method="post">
      {{form.hidden_tag()}}
      {{form.email.label}}{{form.email()}} <br>
      {{form.password.label}}{{form.password()}} <br>
      {{form.submit()}}

  </form>
{% endblock %}